<div class="card">
    <div class="card__title">{{title}}</div>
    <div class="card__description">{{description}}</div>
    <div class="card__date">{{date}}</div>
    {{#image}}
    <div class="card__image">{{.}}</div>
    {{/image}}
    {{^image}}
    <div class="card__stub">Нет подходящего изображения</div>
    {{/image}}
    <span>Просто текст</span>
</div>